<form action="{{ formAction }}" method="post">
    <fieldset>
        <ul>
            {% if view.showEditTools() %}
                <li>
                    Erstellt: {{ document.createdOn|date("d.m.Y H:i:s") }}
                </li>
                <li>
                    Zuletzt aktualisiert: {{ document.updatedOn|date("d.m.Y H:i:s") }}
                </li>
            {% endif %}
            <li>
                <label for="name">Typ:</label>
                <select name="data[type]">
                    {% for type in view.getTypes() %}
                        <option value="{{ type.id }}" {% if document.type == type.id %}selected {% endif %}>{{ type.name }}</option>
                    {% endfor %}
                </select>
            </li>                
            <li>
                <label for="name">Name:</label>
                <input type="text" name="data[name]" value="{{ document.name }}">
            </li>
            <li>
                <label for="name">Grund:</label>
                <input type="text" name="data[reason]" value="{{ document.reason }}">
            </li>
            <li>
                <label for="name">IP:</label>
                <input type="text" name="data[ip]" value="{{ document.ip }}">
            </li>
            <input type="submit" value="Bearbeiten">          
        </ul>
    </fieldset>
</form>