{% include 'header.twig' with {'title': 'Liste'} %}
{% import 'tools.twig' as tools %}

<header>
    <h2>&Uuml;bersicht</h2>
    <nav class="types">
        {% spaceless %}
            <ul>
                {% for type in view.getTypes() %}
                    <li {% if type.active == true %}class="active"{% endif %}>
                        <a href="{{ type.url }}">{{ type.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endspaceless %}
    </nav>
</header>
<div id="content">
    {{ tools.paginationSnippet(view.getPagination(), 'top') }}

    <table id="entryList" data-module="modules/entry/list">
        <tr>
            <th class="tools"></th>
            <th class="date">Datum:</th>
            <th class="name">Name:</th>
            <th class="ip">IP:</th>
            <th class="reason">Grund:</th>
        </tr>
        {% for entry in view.getDocuments() %}
            <tr>
                <td>
                    {% spaceless %}
                        <ul class="tools">
                            <li><a class="edit" href="{{ entry.getEditUrl() }}">Bearbeiten</a></li>
                            <li><a class="delete" href="{{ entry.getDeleteUrl() }}">L&ouml;schen</a></li>
                        </ul>
                    {% endspaceless %}
                </td>
                <td>{{ entry.createdOn|date("d.m.Y") }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.ip }}</td>
                <td>{{ entry.reason }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ tools.paginationSnippet(view.getPagination(), 'bottom') }}
</div>

{% include 'footer.twig' %}
