{% include 'header.twig' with {'title': 'Liste'} %}
{% import 'tools.twig' as tools %}

<header>
    <h2>&Uuml;bersicht</h2>
    <nav class="types">
        {% spaceless %}
            <ul>
                <li><a href="/entry/list/type/1">Sperrungen</a></li>
                <li><a href="/entry/list/type/2">Verwarnungen</a></li>
                <li><a href="/entry/list/type/3">abgelaufene Verwarnungen</a></li>
            </ul>
        {% endspaceless %}
    </nav>
</header>
<div id="content">
    {{ tools.paginationSnippet(pagination, 'top') }}

    <table id="entryList">
        <tr>
            <th class="tools"></th>
            <th class="date">Datum:</th>
            <th class="name">Name:</th>
            <th class="ip">IP:</th>
            <th class="reason">Grund:</th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>
                    {% spaceless %}
                        <ul class="tools">
                            <li><a class="edit" href="/entry/{{ entry._id }}/edit">Bearbeiten</a></li>
                            <li><a class="delete" href="/entry/{{ entry._id }}/delete">L&ouml;schen</a></li>
                        </ul>
                    {% endspaceless %}
                </td>
                <td>{{ entry.createdOn|date("d.m.Y") }}</td>
                <td><a href="/entry/{{ entry._id }}/edit">{{ entry.name }}</a></td>
                <td>{{ entry.ip }}</td>
                <td>{{ entry.reason }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ tools.paginationSnippet(pagination, 'bottom') }}
</div>

{% include 'footer.twig' %}
