{% include 'header.twig' with {'title': 'Liste'} %}

{% set pagination %}
    {% if pages %}
        <div id="pagination">
            {% for page in pages %}
                <a {% if page.active == true %}class="active"{% endif %} href="{{ page.url }}">{{ page.nr }}</a> 
                {% if loop.last == false %}&middot;{% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endset %}

<nav id="typeNavigation">
    <ul>
        <li><a href="/entry/list/type/1">Type 1</a></li>
        <li><a href="/entry/list/type/2">Type 2</a></li>
    </ul>
</nav>

{{ pagination }}

<table id="entryList">
    <tr>
        <th>Datum:</th>
        <th>Name:</th>
        <th>IP:</th>
        <th>Grund:</th>
    </tr>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.createdOn|date("d.m.Y") }}</td>
            <td><a href="/entry/{{ entry._id }}/edit">{{ entry.name }}</a></td>
            <td>{{ entry.ip }}</td>
            <td>{{ entry.reason }}</td>
        </tr>
    {% endfor %}
</table>

{{ pagination }}

{% include 'footer.twig' %}
