<table>
    <tr>
        <th>Datum:</th>
        <th>Name:</th>
        <th>IP:</th>
        <th>Grund:</th>
    </tr>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.createdOn|date("d.m.Y H:i:s") }}</td>
            <td><a href="/entry/{{ entry._id }}/edit">{{ entry.name }}</a></td>
            <td>{{ entry.ip }}</td>
            <td>{{ entry.reason }}</td>
        </tr>
    {% endfor %}
</table>